exportPattern("^[[:alpha:]]+")
import(exomePeak2)
import(Rcpp)
import(RcppArmadillo)
import(limma)
import(glmmTMB)
import(Rsubread)
import(SummarizedExperiment)
import(DESeq2)
import(AnnotationDbi)
import(rtracklayer)
import(readr)
import(ggplot2)
import(reshape2)
import(aod)
import(grid)
import(stringr)
import(m6ALogisticModel)
importFrom("graphics", "plot")
importFrom("grid", "grid.layout", "grid.newpage", "pushViewport", "viewport")
importFrom("S4Vectors", "fold", "mcols")
importFrom("GenomicFeatures", "cdsBy", "exonsBy", "makeTxDbFromGFF", "makeTxDbFromUCSC")
importFrom("AnnotationDbi")
importFrom("GenomicAlignments", "readGAlignments")
